name: CD

# Ensure that the following repository secrets are set in the `Actions` section
#
# AZURE__SUBSCRIPTIONID
# AZURE__RESOURCEGROUP
# AZURE__LOCATION

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.*

      - name: Install Aspire Workload
        run: dotnet workload install aspire

      - name: Deploy Application
        run: aspire deploy --debug
