name: PR Checks

on:
  pull_request:
    branches: [ main, develop ]

permissions:
  contents: read
  pull-requests: write

jobs:
  buildAndTest:
    uses: ./.github/workflows/build-and-test.yml
    with:
      is-pr: true
